---
import Basic from "../layouts/Basic.astro";
---
<Basic title="About">
    <article>
        <h1 id="dessieowo" class="mainHeader">About DessieOwO</h1>
        <p>DessieOwO is a living calculator dog girl and widely regarded as the most profound intellectual of the modern era<sup><em>[citation needed]</em></sup>. She splits her time between her illustrious roles as a network security engineer, developer, writer, artist, graphic designer, journalist, musician, comedian, and <em>epic gamer</em>. DessieOwO has also become the only person certified to know all of science.</p>
        <p>But it's not all work. When she's not humiliating the entire professional community with her brilliance, she can often be seen on a call with her friends or cuddling with her <a href="https://youtu.be/VYmqSqS-AO8?si=yRan22yzYnrLa1og&t=6" rel="noreferrer" target="_blank">Blåhaj</a>.</p>
    </article>
    <article>
        <h1 id="desnetwork">About Desnetwork</h1>
        <p>Desnetwork is behind supporting all projects of DessieOwO. Perhaps most notably including <a href="https://hot-singles.link">Weed Mustard</a> and <a href="https://weaksubmissive.men">Weak Submissive Men</a>.</p>
    </article>
    <article>
        <h1 id="commitments">Our Commitments</h1>
        <ol>
            <li>Be nice. :3</li>
            <li>Ensure all content is as accessible as possible.</li>
            <li>Ensure integrity with what we publish.</li>
            <li>Maintain user safety in anything we offer.</li>
        </ol>
        <p>As a part of our core values, we will never:</p>
        <ul>
            <li>Use our work to cause harm.</li>
            <li>Encourage hate to any group.</li>
            <li>Track our users or sell user data.</li>
            <li>Compromise on anything relating to user safety.</li>
            <li>Use AI generated material for <em>any</em> purpose.</li>
        </ul>
        <p>This does not mean that we won't mock what is deserving of criticism, but we are careful to do it right.</p>
    </article>
    <section>
        <h1 id="contact">Contact us</h1>
        <hgroup>
            <h2>Email:</h2>
            <p>Contact Dessie directly: <a href="mailto:dessie@dessieowo.com">dessie@dessieowo.com</a></p>
            <p>Contact Desnetwork support: <a href="mailto:support@dessieowo.com">support@dessieowo.com</a></p>
            <p>Submit a legal request: <a href="legal@dessieowo.com">legal@dessieowo.com</a></p>
        </hgroup>
    </section>
</Basic>