---
import Basic from "../layouts/Basic.astro";
---
<Basic title="About">
    <article>
        <h1 id="dessieowo" class="mainHeader">About Weak Submissive Men</h1>
        <p>Hi,<br/><br/>
        I’m [REDACTED], but you can call me Red, the founder and curator of Weak Submissive Men. As a rather financially irresponsible lesbian, my initial acquisition of this website was an impulsive decision while drinking at my Cloudflare dashboard. Since then, I have sobered up and have committed myself to using my formidable SEO skills to better the weak-submissive-man-appreciating community. This website is dedicated to providing a central hub for any media surrounding weak submissive men.<br/><br/>
        <b>However, I need your help.</b> Despite my unchallenged intellect and impeccable branding skills, I’m just one idiot and can’t find all of the highest quality content by myself. That’s why community engagement is a core value of Weak Submissive Men. We encourage anyone who has any contributions or suggestions reach out using the means listed on our <a href="/submit">submissions page</a>. Though this website’s creation may have been unplanned, I promise mommy still loves you very much. 
        <br/><br/>
        With much love,
        <br />Red</p>
        <h2>Our Mission</h2>
        <p>Weak Submissive Men is committed to organizing high-quality content depicting submissive men into an easily searchable database. Through community outreach and innovation, Weak Submissive Men aims to be the Internet's foremost hub for finding high-quality submissive man content.</p><br/>
    </article>
</Basic>