---
import Basic from "../layouts/Basic.astro";
---

<Basic title="Home">
	<h1 class="mainHeader">DessieOwO</h1>
	<h2 class="mainSubheader">Home of <em>The Barp</em></h2>
	<p>This website is a preview of planned changes to <a href="https://dessieowo.com">DessieOwO.com</a>. Anything you see here may change in the future. Please use the <a href="/about#contact">contact info on our about page</a> to give your feedback.</p>
</Basic>
