---
import NavLogo from "../../public/favicon.svg";
---
<aside>
<div style="width:100%;display:flex;justify-content:center;flex-direction: column;align-items:center;">
    <NavLogo style="width:100px;height:100px;" />
    <h1>DessieOwO</h1>
</div>
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
</nav>
</aside>